body {
    max-width: 1440px;
    font-family: Lato;
    font-size: 18px;
}

.logoContainer {
    padding: 30px 0 17px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 268px;
}

.btn-icon {
    position: relative;
    left: -40px;
    border: none;
}

.search-input {
    background-color: #E7E7E7;
    border-radius: 0;
    height: 69px;
    display: flex;
    align-items: center;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 15px 15px 15px 0;
    width: 170px;
    height: 69px;
}

button.btn:hover {
    background-color: initial !important;
}

.btn-device {
    background-color: #68D9A4;
    color: white;
}

.btn-ustensil {
    background-color: #ED6454;
    color: white;
}

.btn-ingredient {
    background-color: #3282F7;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: row;
    height: 77px;
}

.arrow {
    width: 12px;
    margin-left: 15px;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.button-container .btn {
    margin: 20px 10px 20px 0;
}

.dropdown-list {
    font-size: 16px;
    display: none;
    min-width: 667px;
    position: relative;
    bottom: 1px;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 15px 15px 0;
    font-weight: 300;
    line-height: 22px;
}

div#appliance-choice, div#ingredient-choice, div#ustensil-choice{
    position: absolute;
    height: auto;
    width: 667px;
    z-index: 10000;
    padding-bottom: 17px;
    left: 12px;
    border-radius: 5px;
}

div#appliance-choice {
    background-color: #68D9A4;
}
div#ingredient-choice {
    background-color: #3282F7;
}
div#ustensil-choice {
    background-color: #ED6454;
}

.ingredient-dropdown {
    background-color: #3282F7;
}

.ingredient-dropdown input {
    color: white;
    background-color: #3282F7;
    border: #3282F7;
    margin-bottom: 10px;
}

.input-group {
    align-items: center;
}

.appliance-dropdown {
    background-color: #68D9A4;
}

.appliance-dropdown input {
    color: white;
    background-color: #68D9A4;
    border: #68D9A4;
    margin-bottom: 10px;
}

.ustensil-dropdown {
    background-color: #ED6454;
}

.ustensil-dropdown input {
    color: white;
    background-color: #ED6454;
    border: #ED6454;
    margin-bottom: 10px;
}

input.dropdown-list-input.form-control::placeholder {
    color: white;
    opacity: 0.5
}

.dropdown-list li {
    color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 12px;
}

.dropdown-list li  a{
    color: white;
    text-decoration: none;
}

.dropdown-list ul {
    margin: 0;
    padding: 0;
}

i.fa.fa-search {
    color: black;
}




.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 0px;
}

.card {
    width: 380px;
    margin: 15px 15px 15px 0;
    background-color: #E7E7E7;
}

.card-recette {
    max-width: 171px;
    height: 73px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    line-height: 14.4px;
    overflow: hidden;
}

.card-top,
.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-text>* {
    flex: 1 1 0;
}

.card-right,
.card-description {
    display: flex;
    align-items: end;
}

.card-duration {
    font-weight: 700;
}

.card-duration {
    padding-right: 12px;
    font-weight: 700;
}

.card-description {
    max-width: 171px;
    height: 91px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-title {
    width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-icon {
    align-items: center;
    background-color: transparent;
    border: none;
}

button i {
    color: white;
}

span.button.btn-ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.selected-item {
    margin: 15px 0 0 0px;
}